<body class="clown">
  <div class="login-page">
      <%= form_for(:session, url: login_path) do |f| %>
      <h1><%= f.label :username %></h1><br>
      <p><%= f.text_field :username %></p><br>

      <h1><%= f.label :password %></h1><br>
      <p><%= f.password_field :password %></p><br>

      <p><%= f.button(value="Log In") %></p><br>
      <% end %>
      <h3><%= link_to "Create Account", new_user_path %></h3>
  </div>

</body>
