<% @order.items.each do |item| %>
<% binding.pry %>
<p><%= item.title %></p>
<p><%= item.description%></p>
<p><%= item.price %></p>
<% end %>
<p><%= @order.status %></p>
<p><%= @order.total %></p>
<p><%= @order.created_at %></p>

<%= @order.updated_at if @order.completed? || @order.cancelled?  %>
