<% @order.items.each do |item| %>
<div class="order-table">
  <h2><%= link_to item.title, item_path(item) %></h2>
  <h2><%= item.description%></h2>
  <h2><%= item.price %></h2>
</div>
<% end %>
<p><%= @order.status %></p>
<p><%= @order.total %></p>
<p><%= @order.created_at %></p>

<%= @order.updated_at if @order.completed? || @order.cancelled?  %>
