<h1>Welcome to your cart!</h1>

<table style="width:100%">
  <tr>
    <th>Image</th>
    <th>Title</th>
    <th>Description</th>
    <th>Price</th>
    <th>Quantity</th>
    <th>Remove</th>
  </tr>
  <% set_cart.items.each do |item| %>
  <tr>
    <td><%= image_tag item.image, size: "30x30" %></td>
    <td><%= item.title %></td>
    <td><%= item.description %></td>
    <td><%= number_to_currency(item.price) %></td>
    <td class="quantity">
        <%= button_to "+", cart_add_path(item_id: item.id), method: :patch%>
        <%= set_cart.contents[item.id.to_s] %>
        <%= button_to "-", cart_subtract_path(item_id: item.id), method: :patch%>
    </td>
    <td><%= link_to "Remove", cart_path(item_id: item.id), method: :delete %></td>
  </tr>
  <% end %>
</table>

<h3>Total Price: <%=number_to_currency(@cart.total)%></h3>
<br>
  <% if current_user %>
		<h4><%= link_to"Checkout", orders_path, method: "post" %></h4>
  <% else %>
	  <h4><%= link_to "Login or Create Account to Checkout", login_path %></h4>
  <% end %>
