<h1>Welcome to your cart!</h1>

<% @cart.items.each do |item| %>
  <%= item.title %>
  <%= item.description %>
  <%= sprintf('%.2f',item.price) %>
	<%= @cart.contents[item.id.to_s] %>
  <%= item.image %>
  <%= link_to "Remove", cart_path(item_id: item.id), method: :delete %>
	<%= render partial: "form", locals: {item: item} %>
<% end %>

<h3>Total Price: <%=@cart.total%></h3>
<br>
  <% if current_user %>
		<h4><%= link_to"Checkout", orders_path, method: "post" %></h4>
  <% else %>
	  <h4><%= link_to "Login or Create Account to Checkout", login_path %></h4>
  <% end %>
