<h1>Admin Dashboard</h1>
<table class="table">
  <tr>
    <th> <%= link_to "Ordered:", "/admin/dashboard?status=ordered" %> <%= Order.ordered.count %></th>
    <th> <%= link_to "Paid:", "/admin/dashboard?status=paid" %> <%= Order.paid.count %></th>
    <th> <%= link_to "Cancelled:", "/admin/dashboard?status=cancelled" %><%= Order.cancelled.count %></th>
    <th> <%= link_to "Completed:", "/admin/dashboard?status=completed" %> <%= Order.completed.count %></th>
  </tr>
</table>

<table class="table">
  <tr>
    <th>Order Number</th>
    <th>Cancel</th>
    <th>Mark as Paid or Completed</th>
  </tr>
  <% @orders.each do |order| %>
  <tr>
    <td><h3><%= link_to "Show Order Number #{order.id}", admin_order_path(order) %></h3></td>
    <td><h3><%= link_to "cancel", admin_order_path(order, status: "cancelled"), method: :patch if order.paid? || order.ordered? %></h3></td>
    <td><h3><%= link_to "mark as paid", admin_order_path(order, status: "paid"), method: :patch if order.ordered? %>
    <%= link_to "mark as completed", admin_order_path(order, status: "completed"), method: :patch if order.paid? %></h3></td>
  </tr>
  <% end %>
</table>
