<header class="header">
	<h1>Items</h1>
</header>
<section class="items">
<% @items.each do |item| %>
<div class="items-index">
	<%= image_tag item.image%>
  <div class="container">
		<h3>Title: <%= link_to item.title, item_path(item) %></h3>
		<h3>Description: <%= item.description %></h3>
		<h3>Price: <%= number_to_currency(item.price) %></h3>
		<% if item.active? %>
		<%= link_to "Add to Cart", cart_path(item_id: item.id), method: :post %>
		<% else %>
		<p>Item Retired</p>
		<% end %>
  </div>
</div>
<% end %>
</section>
<div class="pagination">
	<%= will_paginate @items, :page_links => false %>
</div>
