<!DOCTYPE html>
<html>
  <head>
    <title>LittleShop</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <header class="title">
      <div class="icon">
        <%= image_tag ("crescent-moon.png") %>
        <h1>Little Nightmares</h1>
      </div>
      <% if current_user %>
      <h3><%= link_to "Logout", logout_path, method: :delete %></h4>
        <% else %>
      <h3><%= link_to "Login", login_path %></h4>
        <% end %>
    </header>
  <ul>
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to "Items", items_path %></li>
    <li class="dropdown">
      <a href="javascript:void(0)" class="dropbtn">Categories</a>
        <div class="dropdown-content">
          <% categories.each do |category| %>
            <%= link_to category.title, "/#{category.title}" %>
          <% end %>
        </div>
    </li>
    <li><%= link_to "View Cart", "/cart" %></li>
    <div class="cart"><h3><%= session[:cart].values.sum %></h3>
      <%= image_tag ("cart.png"), size: "30x30" %></div>
  </ul>
  <% flash.each do |type, message| %>
	<div class="green-flash">
    	<p><%= sanitize(message) %></p>
  </div>
 <% end %>
    <%= yield %>
  </body>
</html>
